body {
    background-image: url("background.gif");
    background-repeat: repeat;
}

h1 {
  color: white;
  font-family: "Comic Sans MS", cursive;
  font-size: 5em;
}

p {
  color: white;
  font-family: "Comic Sans MS", cursive;
  font-size: 3em;
}
