body {
  background-image: url("grunge_floral_paper_texture_by_arghus.jpg");
  background-size: cover;
  /*background-repeat: repeat;*/
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

#container {
  background-color: #ffffe5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
}

.title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 54px;
    /*float: left;*/
    margin-top: 9px;
    /*margin-left: 39px;*/
}

p {
  color: black;
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 2em;
}

.choice {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.end {
 text-align: center;
}